slurm-7864650.out
slurm-7868172.out
logs/8b_error_7862907.txt
bias_evaluation.py
logs/8b_output_7862907.txt
bias_evaluation.py
logs/70b_error_7862399.txt
logs/70b_output_7862399.txt
logs/llama8b_error_7863895.txt
logs/llama8b_error_7864109.txt
logs/llama8b_error_7864717.txt
logs/llama8b_output_7863895.txt
logs/llama8b_output_7864109.txt
logs/llama8b_output_7864717.txt
logs/mistral_error_7862478.txt
logs/mistral_error_7862663.txt
logs/mistral_output_7862478.txt
logs/mistral_output_7862663.txt
logs/qwen7b_error_7868600.txt
logs/qwen7b_output_7868600.txt
outputs/Meta-Llama-3.3-70B-Instruct_20251008_1309.csv
prompts/bbqPrompts_disambig_cot.csv
bias_evaluation.py
logs/70b_error_7862399.txt
logs/70b_output_7862399.txt
logs/mistral_error_7862478.txt
logs/mistral_output_7862478.txt
outputs/Meta-Llama-3.3-70B-Instruct_20251008_1309.csv
prompts/bbqPrompts_disambig_cot.csv
bias_evaluation.py
.venv/
logs/
*.patch
data/sas_*
